.card-body{
    background-color: crimson;
    color: white;
    height: 200px;
    width: 200px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgb(187, 187, 187);
}